

.loginform, .signupform {
  height: 1000px;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/86/e4/c4/86e4c4cdac9d6df54233fe37772cc756.jpg');
}

.ui form{
  margin-top: 200px;
}

.reviewform {
  margin-top: 20px !important;
}


.navbar {
   margin-bottom: 1%;
   background-color: transparent !important;
}

h2 {
  font-family: 'Lora', serif;
}

.rating {
  margin-top: 1%;
  margin-bottom: 2%;
}


.featured-buildings h2 {
  text-align: center;
}

.hero-image {
  background-image: url('./images/chelsea2.jpg');
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image.short {
  height: 200px;
}

.hero-image.short .hero-text {
  display: none;
}

.hero-text {
  text-align: center !important;
  color: white;
  margin-top: 250px !important;
}

.hero-text h2{
  font-size: 45px;
}

.hero-text p{
  font-size: 20px;
  font-family: 'Lora', serif;
}

.error-msgs{
  color: red;
}

.building-hero-image {
  background-image: url('./images/window.jpg');
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.building-hero-text {
  color: white;
  margin-top: 70px !important;
}

.building-hero-text h2{
  font-size: 30px;
}

.searchbar {
  margin-top: 30px;
}

.mgmt-card {
  float: right !important;
  margin-top: -30px;
}

.map {
   width: 300px;
   height: 400px;
   background-color: grey;
   float: right !important;
}

.map-mgmt{
  width: 300px;
  height: 400px;
  background-color: grey;
  float: right !important;
}
